* {
  box-sizing: border-box;
  }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #000000; }

div {
  padding: 0px;
  margin: 0px;
}

p.inside {
float: left;
clear: both;
position: relative;
padding: 10px;
}

h1 {
text-align: center;
}

#container {
overflow: auto;
padding: 0px;
margin: 10px;
}

/*base style*/

#col-01 {
background-color: #ffcccc;
height: 250px;
float: left;
width: 32%;
margin: 5px 5px 5px 5px ; 
position: relative;
overflow: auto;
border: 1px black solid;
}

#col-02 {
background-color: #ccffcc;
height: 250px;
float: left;
width: 32%;
margin: 5px;
position: relative;
overflow: auto;
border: 1px black solid;
}

#col-03 {
background-color: #ccccff;
margin: 10px;
height: 250px;
float: left;
width: 32%;
margin: 5px 5px 5px 5px ; 
position: relative;
overflow: auto;
border: 1px black solid;
}


#p1 {
background-color: #ff0000;
width: 230px;
font-size: 1.2em;
float: right;
text-align: center;
margin: 0px 0px 10px 10px;
padding: 10px;

}

#p2 {
background-color: #00ff00;
width: 230px;
font-size: 1.2em;
float: right;
text-align: center;
margin: 0px 0px 10px 10px;
padding: 10px;
}

#p3 {
background-color: #0000ff;
width: 230px;
font-size: 1.2em;
float: right;
text-align: center;
margin: 0px 0px 10px 10px;
padding: 10px;
color: #ccccff;
}

/*big device style - desktop - from 992*/
/*normal style*/

/*medium device style - tablet - 768to991 */


@media (min-width: 768px) and (max-width: 991px) {

  #col-01 {
  width: 48%;

  }

  #col-02 {
    width: 48%;
  }

  #col-03 {
    width: 97%;
    clear: both;
  } 

}

/*smal device style - phone - below 768 (from 1 to 767) */

@media (max-width: 767px) {

  #container {
   padding: 0px; 
  }

  #col-01 {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;

  }

  #col-02 {
     width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  }

  #col-03 {
    width: 100%;
  margin-left: 0px;
  margin-right: 0px;
   
  } 

}

